<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="https://www.pointblankdevelopment.com.au/blog/113/aspnet-core-angular-24-user-registration-and-login-tutorial-example" target="_top">ASP.NET Core + Angular 2/4 - User Registration and Login Tutorial & Example</a>
    </p>
    <p>
        <a href="https://www.pointblankdevelopment.com.au" target="_top">Point Blank Development Sydney</a>
    </p>
</div>